# 1장. 파이썬 기초 1
### 1.1 파이썬 설치 및 시작하기
#### 1) 파이썬이란?
#### - 1990년 암스테르담의 구도 반 로섬이 개발한 인터프리터 언어
*인터프리터 언어: 한 줄씩 소스 코드를 해석해서 그때그때 실행해 결과를 바로 확인할 수 있는 언어
#### - 오픈소스로서 대기업은 물론이고 스타트업에서도 다양한 용도로 사용되고 있음.

#### 2) 파이썬의 특징
(1) 배우기 쉽다! 

(2) 무료다!

(3) 방대한 라이브러리가 있다!

(4) 어느 운영체제에서도 사용할 수 있다!

#### 3) 파이썬 설치하기
(1) anaconda 설치 - 데이터 분석에 유용한 라이브러리가 많이 포함된 배포판

사이트 이동: https://www.anaconda.com/download/

(2) anaconda 업데이트

##### conda update conda

##### python --version

#### 4) 파이썬 실행하기

(1) anaconda prompt로 실행하기

(2) Jupyter Notebook으로 실행하기

#### 5) 기본 사용법
(1) Untitled를 더블클릭하여 이름 변경

(2) 하나의 셀에 여러줄 입력 가능

In [16]:
a=1
b=3
c=6

(3) 코드 실행 방법: 실행버튼 클릭 or [Shift + Enter]

(4) 원형 화살표(Restart Kernel) : 메모리에 저장된 내용이 지워짐

(5) Restart & Clear output : 실행결과가 모두 지워짐

(6) Run All : 모두 순차적으로 실행

(7) File - Download as - html, pdf 등 다양한 포맷으로 변환 가능

(8) jupyter notebook 종료 : 웹브라우저와 cmd 모두 종료해야 함.

### 1.2 파이썬 자료형
#### ● 자료형 종류
    - 수치형(Number): 숫자형태로 구성된 데이터 타입 ex) 123, -345, 123.45
    - 문자열(String): 문자, 단어 등으로 구성된 데이터 타입, 인덱스 사용
    - 리스트(List): 임의의 객체를 순차적으로 저장하는 집합적 자료형, 인덱스 사용
    - 튜플(Tuple): 리스트와 유사하지만 튜플 내의 값을 변경 불가능, 인덱스 사용
    - 키(key)와 값(value)으로 이루어져 있으며 키를 이용하여 값을 저장 및 조회하는 자료형

#### 1) 변수
#### - 변수: 자료를 저장할 수 있는 공간
#### - 변수명: 자료를 저장한 공간에 이름

In [17]:
abc = 123 #abc=변수, 123=자료(data)
print(abc)

123

In [18]:
abc

123

In [19]:
print(abc*3)
print(abc+abc)
print(abc+1/4)

369
246
123.25

- 변수명 규칙
    - 문자, 숫자, 밑줄 기호(_) 이용한다. 
    - 변수명은 숫자로 시작할 수 없다. 
    - 대소문자를 구분해야 한다. 
    - 공백을 포함하지 않는다.
    - 예약어(Reserved word)는 변수명으로 이용할 수 없다(예약어:이미 정해지고 약속된 언어). 

예약어) None, True, False, and, as, assert, break, class, continue, def, del, elif, else, except, finally, for, from, global, 
if, import, in, is, lambda, nonlocal, not, or, pass, raise, return, try, while, yied

In [20]:
a=1

In [21]:
A=2

In [22]:
a

1

In [23]:
A

2

In [24]:
3a=1

SyntaxError: invalid syntax (<ipython-input-24-d4bcc12e9cbb>, line 1)

In [25]:
Hansung Univ=1

SyntaxError: invalid syntax (<ipython-input-25-0208e5dfe38f>, line 1)

#### 2) 문자열 자료형
#### - 따옴표로 둘러쌓인 문자의 집합
#### - 문자열을 표시하기 위해서는 시작과 끝에 큰따옴표(")나 작은따옴표(')를 지정한다.

In [26]:
print("hello")

hello

In [27]:
"hello"

'hello'

In [28]:
string = "Hansung university"

In [29]:
print(string)

Hansung university

In [30]:
type(string)# type() 함수: 데이터형 출력

str

In [31]:
string[1]

'a'

In [32]:
a = 'Hansung '
b = 'university'

In [33]:
c = a+b
c

'Hansung university'

#### 3) 리스트 자료형
#### - 여러개의 데이터를 묶어 순차적으로 저장하는 집합적 자료형
#### - 각 값에 대해 인덱스가 부여됨
#### - 변경 가능
#### - 대괄호 [ ] 사용
#### - range() 함수를 통한 인덱스 리스트 생성 가능

- 리스트 생성하기

In [34]:
#고객 1의 구매물품
customer_1= ['치약', '과자', '아이스크림', '고등어']

In [35]:
customer_1

['치약', '과/자', '아이스크림', '고등어']

In [36]:
type(customer_1) #데이터 종류 확인

list

- 리스트 인덱스

리스트내 각 항목은 '변수명[i]' 지정할 수 있다. 

여기서 i는 변수의 인덱스이며 N개의 항목이 있는 리스트 타입 데이터가 있다면 i의 범위는 0~'N-1'까지다.

In [37]:
customer_1[0]

'치약'

In [38]:
customer_1[3]="빵"

In [39]:
customer_1

['치약', '과/자', '아이스크림', '빵']

In [40]:
customer_1[-1]

'빵'

- 리스트 활용

In [41]:
list_con_1=[1,2,3,4]
list_con_2=[5,6,7,8]
list_sum = list_con_1+list_con_2 #  + 리스트 연결
print(list_sum)

[1, 2, 3, 4, 5, 6, 7, 8]

In [42]:
list_sum*3 # * 리스트 반복

[1, 2, 3, 4, 5, 6, 7, 8, 1, 2, 3, 4, 5, 6, 7, 8, 1, 2, 3, 4, 5, 6, 7, 8]

In [1]:
list_Data = [1,2,3,4,5,6,7,8,9]
print(list_Data)
print(list_Data[0:2]) # 리스트[인덱스의 시작:인덱스의 끝]
print(list_Data[0:10:2]) # 리스트[인덱스의 시작:인덱스의:스텝(증가단계)]
print(list_Data[7:9])

[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2]
[1, 3, 5, 7, 9]
[8, 9]

In [44]:
print(list_Data) 
del list_Data[6] # del 리스트 [ i ] 인덱싱 삭제
print(list_Data)

[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 8, 9]

In [45]:
list_Data1=[1,2,3,4]
print(4 in list_Data1) # '항목 in 리스트' :리스트내 항목의 존재여부 확인
print(5 in list_Data1)

True
False

- 리스트 메서드 활용하기

파이썬에서는 데이터 타입(자료형)별로 이용할 수 있는 다양한 함수 제공하며 이를 '메서드'라함.

In [46]:
customers=["승우","승형","흥민","선민"]
print(customers)
customers.append('케인') # 변수명.append( ):리스트에서 항목 하나를 맨 마지막에 추가
print(customers)

['승우', '승형', '흥민', '선민']
['승우', '승형', '흥민', '선민', '케인']

In [47]:
customers=["승우","승형","흥민","선민"]
print(customers)
customers.extend(['케인','알리']) # 변수명.extend( ) : 리스트의 맨 끝에 여러 개의 항목을 추가하는데 이용
print(customers)

['승우', '승형', '흥민', '선민']
['승우', '승형', '흥민', '선민', '케인', '알리']

In [48]:
customers=["승우","승형","흥민","선민"]
print(customers)
customers.insert(1,'케인') # 변수명.insert(i, data) : 리스트의 원하는 위치에 데이터를 삽입
print(customers)

['승우', '승형', '흥민', '선민']
['승우', '케인', '승형', '흥민', '선민']

#### 4) 튜플 자료형
#### - 여러개의 데이터를 하나로 묶는 데 이용, 튜플의 속성은 리스트와 유사
#### - 각 값에 인덱스가 부여됨.
#### - 소괄호 ( ) 사용, 괄호 사용하지 않고 데이터 입력
#### - 튜플 데이터는 한 번 입력(혹은 생성)하면 그 이후에는 항목을 변경할 수 없다.

- 튜플 생성하기

In [49]:
tuple_1=(1,2,3,4,5) #소괄호를 이용한 튜플 생성
tuple_1

(1, 2, 3, 4, 5)

In [50]:
tuple_2 = 5,6,7,8
print(tuple_2)

(5, 6, 7, 8)

In [51]:
type(tuple_1)

tuple

In [52]:
type(tuple_2)

tuple

In [53]:
tuple_1[1] # 인덱스를 활용한 값 출력

2

In [54]:
tuple_3= 3, #하나의 원소를 갖는 튜플을 만들때도 콤마(,)를 입력해야한다. 
print(tuple_3)

(3,)

- 튜플 활용하기

In [55]:
tuple4 = ('a','b','c','d','e','c','z')
tuple4.index('c')#'c' 항목의 첫번째 위치 반환

2

In [56]:
tuple4.count('c') # 'c' 항목의 개수 반환

2

#### 5) 딕셔너리 자료형
#### 키(key)와 값(value)으로 이루어져 있으며 키를 이용하여 값을 저장 및 조회하는 자료형
#### 저장된 각 자료에 대한 순서는 의미 없음
#### 키와 값은 콜론(:)으로 구분한다.
#### 중괄호 { } 사용
#### 콤마(, )를 기준으로 아이템 구분
#### 딕셔너리 구조 -> key:value(쌍으로 이루어짐)
#### {key(숫자와 문자열 가능) : vlaue: (다양한 데이터 타입)}

- 딕셔너리 생성하기

In [57]:
province_city = {"경기도":"일산", "강원도":"원주", "충청도":"천안", "전라도":"전주","경상도":"부산"}
province_city

{'강원도': '원주', '경기도': '일산', '경상도': '부산', '전라도': '전주', '충청도': '천안'}

In [58]:
type(province_city)

dict

In [59]:
province_city["경기도"] #키의 값을 반환

'일산'

In [60]:
dict_data = {1:"기차", 2:"버스", 3:"택시", 4:"뚜벅이"}
dict_data

{1: '기차', 2: '버스', 3: '택시', 4: '뚜벅이'}

In [61]:
dict_data[3]

'택시'

- 딕셔너리 활용하기

In [62]:
province_city["경기도"]="광명" # dict_variable[key] = value 새로운 key:value 수정/추가
province_city

{'강원도': '원주', '경기도': '광명', '경상도': '부산', '전라도': '전주', '충청도': '천안'}

In [63]:
province_city["수도"]="서울" #새로운 key와 value 생성
province_city

{'강원도': '원주', '경기도': '광명', '경상도': '부산', '수도': '서울', '전라도': '전주', '충청도': '천안'}

In [64]:
del province_city["경상도"] #데이터 삭제하기
province_city

{'강원도': '원주', '경기도': '광명', '수도': '서울', '전라도': '전주', '충청도': '천안'}

- 딕셔너리 메서드 활용하기

In [65]:
city_code = {"서울":11,"일산":12,"인천":13,"부산":14} # 변수명.values( ) : 딕셔너리에서 값 전체를 리스트 형태로 반환
print(city_code.values())

dict_values([11, 12, 13, 14])

In [66]:
print(city_code.keys()) # 변수명.keys( ) : 딕셔너리에서 키 전체를 리스트 형태로 반환

dict_keys(['서울', '일산', '인천', '부산'])

In [67]:
city_code2={"전주":15, "천안":16} 
city_code.update(city_code2) # update(city_code2 ) : 딕셔너리에 딕셔너리 데이터('city_code2') 추가
city_code

{'부산': 14, '서울': 11, '인천': 13, '일산': 12, '전주': 15, '천안': 16}

In [68]:
city_code.clear() #모든항목 삭제
city_code

{}

### 1.3 제어문 
#### - 조건에 따라 코드의 특정 부분만 수행하거나 반복할 필요가 있을때 코드의 진행 순서를 바꾸는 구문을 '제어문'이라고 한다.

#### 1) if 문
#### - if문에서는 지정한 조건에 따라 다르게 명령을 수행한다.
#### - if문에서는 조건의 만족 여부에 따라서 코드 수행 결과가 달라진다.

- if조건문 기본 구조

      if <조건문> : 
         <수행할 코드>

<조건문>을 만족하면 그 아래의 코드를 수행하고, 만족하지 않으면 수행하지 않는다.

#### 비교 연산자
    == 같다
    != 같지않다. 
    < 작다
    > 크다
    <= 작거나 같다
    >= 크거나 같다

#### 논리 연산자
    and 논리곱: A and B -> A와 B가 모두 참이면 참이고 그 외에는 거짓
    or  논리합: A or B -> A와 B 중 하나라도 참이면 참이고 둘 다 거짓이면 거짓
    not 논리부정: not A -> A가 참이면 거짓이고 거짓이면 참

In [3]:
weight = 85
if weight >= 80:  #<조건문>
    print("Pass") #<수행할 코드>

Pass

- if와 else를 이용한 조건문 기본 구조

        if <조건문> : 
           <수행할 코드1>
        else :
           <수행할 코드2>
       
if~else문은 <조건문> 만족 여부에 따라 코드를 다르게 수행한다.
<조건문>을 만족하면 <수행할 코드1>을 수행하고, 만족하지 않으면 <수행할 코드2>를 수행한다.

In [70]:
weight = 75
if weight >= 90: 
    print("Pass")

else: 
    print("Fail")

Fail

- if~elif~else를 활용한 다중 조건문 기본 구조
    
      if<조건문1> : 
        <수행할 코드1>
      elif<조건문2> :
        <수행할 코드2>
        .
        .
        .
      elif<조건문n> : 
        <수행할 코드n>
      else :
        <수행할 코드m>
       
<조건문 1>이 만족하는지 검사하고 만족하면 <수행할 코드 1> 수행, 만족 못하면 <조건문 2> 검사하고 만족하면 <수행할 코드2> 수행 아니라면 다음 조건문을 검사하는 방법을 마지막 <조건문 n> 까지 반복한다.

위 방법을 반복하고 마지막 조건문까지 만족하지 않으면 'else:' 아래의 <수행할 코드 m>을 실행

In [71]:
f = 10
if f > 20:
    print("Best")
elif  (f >= 10) and (f < 20): #elif  10 <= f < 20: # 위 예제보다 직관적으로 코드 입력
    print("Good")
else:
    print("Bad")

Good

#### 2) for 문

#### - 지정된 횟수 또는 지정된 조건을 만족할 때 작업을 반복적으로 수행하는 구문을 반복문이라 하며 반복문에는 for문과 while이 있다.

In [72]:
a = 1 # 변수 a를 0으로 초기화
print(a) # 변수 a 출력

a = a + 1 # 변수 a에 1을 더한 후, 다시 a에 대입
print(a)  # 변수 a 출력

a = a + 1 # 같은 코드 반복
print(a)

a = a + 1 # 같은 코드 반복
print(a)

a = a + 1 # 같은 코드 반복
print(a)

a = a + 1 # 같은 코드 반복
print(a)

1
2
3
4
5
6

- for문의 기본구조
    
      for<반복 변수> in <반복 범위> :
         <수행할 코드>

for 문에서 <반복 변수>는 in<반복 범위>에 따라 변하면서 <수행할 코드>을 실행한다.

In [73]:
for a in [1,2,3,4,5]: #리스트를 이용한 반복 범위 지정
    print(a)

1
2
3
4
5

In [74]:
customer_name = ['Kane', 'Ericsen', 'Alli', 'Son']  # 리스트를 변수에 할당
for customer_name in customer_name:
    print(customer_name)

Kane
Ericsen
Alli
Son

In [76]:
print(list(range(1, 10, 2))) #range(start, stop, step) : start는 시작지점, stop은 끝지점, step는 증감의 크기

[1, 3, 5, 7, 9]

In [77]:
for a in range(1, 16, 3):
    print(a)

1
4
7
10
13

In [78]:
customer_name = ['Kane', 'Ericsen', 'Alli', 'Son']
sales_qty = [20, 25, 5, 15]

In [79]:
for k in range(len(customer_name)):  # 2개 이상의 리스트 반복하기(len->반복 범위, range->반복 변수)
    print(customer_name[k], sales_qty[k])

Kane 20
Ericsen 25
Alli 5
Son 15

In [80]:
for customer_name, sales_qty in zip(customer_name, sales_qty): #zip( )함수:같은 길이의 데이터를 하나로 묶어줌.
    print(customer_name, sales_qty)

Kane 20
Ericsen 25
Alli 5
Son 15

#### 3) while 문

#### - for문과 다르게 반복 범위 없이 조건에 따라서 반복 수행 여부를 결정하는 경우에는 while 문을 주로 이용

- while 문의 기본구조


      while <조건문> :
        <수행할 코드>

while 문에서 <조건문>을 만족하면 <수행할 코드>를 계속 수행하고 <조건문>을 만족하지 않으면 <수행할 코드>를 실행하지 않고 while 문을 빠져나온다.

In [81]:
customer_count = 0  # 초기화
sum = 0   # 초기화

print("customer_count sum")
while (sum < 20):  # 조건 검사
    customer_count = customer_count + 1 # i를 1씩 증가
    sum = sum + customer_count  # 이전의 sum과 현재 i를 더해서 sum을 갱신
    print(customer_count, sum)  # i와 sum을 출력

customer_count sum
1 1
2 3
3 6
4 10
5 15
6 21

### 1.4 함수
#### - 특정 기능을 수행하는 코드의 묶음
#### - 반복적인 코드를 없애 주어 코드의 길이를 짧게 만들어 준다. 
#### - 프로그램의 유지보수를 쉽게 만들어 준다.

- 함수의 기본 구조

      def 함수명([인자1, 인자2, ..., 인자n]):
          <수행할 문장>
          [return<반환 값>]


- 함수호출코드 
     
      함수명([인자1, 인자2, ..., 인자n])

함수를 호출할때는 정의할 때 지정했던 인자도 함께 써야한다.

In [12]:
def multi(a,b): 
    c = a*b
    return c

In [13]:
multi(5,4)

20

In [8]:
def my_customer_info_list(my_customer_info): #리스트를 인자로 갖는 함수
    print("****************************")
    print("* 고객이름:", my_customer_info[0])
    print("* 지점번호:", my_customer_info[1])
    print("* 전화번호:", my_customer_info[2])
    print("****************************")

In [10]:
customer1_info = ["승우", "01", "010-7725-6789"] # 리스트를 변수에 저장한 후 함수에 입력한 경우
my_customer_info_list(customer1_info)

****************************
* 고객이름: 승우
* 지점번호: 01
* 전화번호: 010-7725-6789
****************************

In [11]:
my_customer_info_list(["흥민", "02", "010-9827-6543"]) #리스트를 바로 인자로 정하는 경우

****************************
* 고객이름: 흥민
* 지점번호: 02
* 전화번호: 010-9827-6543
****************************

- 변수의 범위
        - 함수 안에서 정의한(혹은 생성한) 변수는 함수 안에서만 사용할 수 있다. 
        - 함수 안에서 정의한 변수는 함수 영역 안에서만 동작하는 변수이므로 지역 변수라고 한다.
        - 지역 변수의 상대적 개념인 전역 변수는 코드 내 어디서나 사용 할 수 있다. 
        - 변수의 범위는 변수가 저장되는 이름 공간이 함수 밖이냐 안이냐에 따라서 코드 내에서 영향을 미치는 유효 범위(scope)가 달라짐.



- 지역 영역: 지역 변수를 저장하는 이름 공간 
- 전역 영역: 전역 변수를 저장하는 이름 공간 
- 내장 영역: 파이썬 자체에서 정의한 이름 공간을 내장 영역
- 스코피 룰(Scoping rule): 함수에서 어떤 변수를 호출하면 지역 영역, 전역 영역, 내장 영역 순서대로 변수가 있는지 확인


*함수 작성식 지역 변수와 전역 변수의 이름이 다르다면 문제가 되지 않지만 만약 동일한 변수명을 지역 변수와 전역 변수에 모두 이용했다면  스코핑 룰에 따라 변수가 선택됨

In [87]:
a = "전역변수 1" # 전역 변수

def func_1():
    a = "지역변수 1" # 지역 변수. func1()에서만 사용
    print("[func1] 지역 변수 a =", a)

def func_2():
    a = "지역변수 2" # 지역 변수. func2()에서만 사용
    print("[func2] 지역 변수 a =", a)  
    
def func_3():
    print("[func3] 전역 변수 a =", a)   
    
def func_4():
    global a  # 함수 내에서 전역 변수 변경 위해 선언
    a = 4      # 전역 변수의 값 변경
    print("[func4] 전역 변수 a =",a)

In [88]:
func_1() #함수 func_1() 호출
func_2() #함수 func_2() 호출
print("전역 변수 a =", a) # 전역 변수 출력

[func1] 지역 변수 a = 지역변수 1
[func2] 지역 변수 a = 지역변수 2
전역 변수 a = 전역변수 1

In [89]:
func_3() #함수 func_3() 호출
func_4() #함수 func_4() 호출
func_3() #함수 func_3() 호출

[func3] 전역 변수 a = 전역변수 1
[func4] 전역 변수 a = 4
[func3] 전역 변수 a = 4

#### 3) 파이썬 내장 함수

In [90]:
Num = [1,5,9,10,11,27,68]
[min(Num), max(Num)] #최솟값과 최댓값

[1, 68]

In [91]:
Alpha = 'abcdef'
[min(Alpha), max(Alpha)]

['a', 'f']

In [92]:
[abs(100), abs(-100)] # 절댓값

[100, 100]

In [1]:
list_sum = [1,2,3,4,5]
sum(list_sum) # 전체 합

15

#### 항목의 길이

In [2]:
len("South Korea") # 문자열

11

In [3]:
len([1, 2, 3, 4, 5, 6, 7, 8]) # 리스트

8

In [4]:
len((1, 2, 3, 4, 5)) # 튜플

5

In [5]:
len({1:"Alli", 2:"Son", 3:"Kane"}) # 딕셔너리

3

In [6]:
[int(0.12), int(4.5213), int(-2.21)] # 정수형 변환

[0, 4, -2]

In [7]:
[float(0), float(12.3), float(-456)] # 실수형 변환

[0.0, 12.3, -456.0]

In [8]:
[str(111), str(987654), str(-123)] # 문자형 변환

['111', '987654', '-123']

#### 리스트, 튜플형 변환

In [9]:
List_data = ['vip', 1, 2]
Tuple_data = ('vvip', 1, 2)

In [10]:
[type(List_data), type(Tuple_data)]

[list, tuple]

In [11]:
print("리스트로 변환: ", list(Tuple_data))

리스트로 변환:  ['vvip', 1, 2]

In [12]:
print("튜플로 변환:", tuple(List_data))

튜플로 변환: ('vip', 1, 2)

#### 내장 함수의 활용

In [13]:
points = [100, 250, 50, 700] # 품목별 포인트 점수

point_sum = 0                     # 총 포인트 계산을 위한 초깃값 설정
product_num = 0                   # 품목수 계산을 위한 초깃값 설정
for point in points:
    point_sum = point_sum + point # 총 포인트 모두 더하기
    product_num = product_num + 1 # 품목수 계산
    
average = point_sum / product_num # 품목당 평균적립 포인트 (총 포인트 / 품목수) 구하기

print("총 포인트 적립액:{0}, 품목당 평균적립 포인트:{1}".format(point_sum,average))

총 포인트 적립액:1100, 품목당 평균적립 포인트:275.0

In [14]:
points = [100, 250, 50, 700]  # 품목별 포인트 점수

print("총 포인트 적립액:{0},  품목당 평균적립 포인트:{1}".format(sum(points), sum(points)/len(points)))

총 포인트 적립액:1100,  품목당 평균적립 포인트:275.0

In [15]:
print("최저 포인트 적립액:{0}, 최고 포인트 적립액:{1}".format(min(points), max(points)))

최저 포인트 적립액:50, 최고 포인트 적립액:700